:root{
    --main-color:rgba(184, 142, 47, 1);
    --second-color:rgba(255, 243, 227, 1);
    --gray-color:rgba(102, 102, 102, 1);
    --bg-cards:rgba(137, 137, 137, 1);
    --cover-cards:rgba(58, 58, 58, 1);
    --gray-footer:rgba(159, 159, 159, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-margine{
    margin-left: 102px;
    margin-right: 102px;
}
